<% include ../partials/header %>
<h1 style="text-align:center">Add Castles here</h1>
<div class="container">
<form action="/castles/<%= castle._id %>/comments" method="POST">
  <div class="form-group">
    <label for="inp1">Add new Comment</label>
    <input type="text" class="form-control" name="comment[text]" id="inp1" placeholder="text">
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block">Submit</button>
 </div>
</form>
</div>

<% include ../partials/footer %>
