<% include ../partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
<h1>Here is the list of Castles</h1>
<p>Dive into the world of Ice and Fire</p>
<a class="btn btn-primary btn-large" href="/castles/new" role="button">Add your Theory!!</a>
    </div>
</header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% Castles.forEach(function(castle){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src= "<%=castle.image %>">
                <div class="caption">
                    <h4> <%= castle.name %></h4>
                </div>
                <p>
                    <a href="/castles/<%= castle._id %>" class ="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>